
<!-- Artwork Gallery -->
div.artwork {
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px 0px;
	
}


div.artwork img {
	margin-left: 40px;
    	padding: 10px;
   	height: 300px;
  	width: 300px;
   	float: center;
    	text-align: center;
}

	

div.artwork img:hover {
	filter: grayscale(100%);
	transfrom: scale(1.1);
	border-radius: 20px;
	box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
	
}



/* Body Styles */

body {
	
	width: 100%;
	margin: auto;
}

/* Body Header Styles */

h1 {
	text-align: center;
	font-size: 70px;
	font-family: Apply Chancery, cursive;
	margin: auto;
}

body > header > img {
	display: block;
	width: 100%;
	height: 500px;

}

body > header > nav.header li {
	display: block;
	width: 20%;
	padding: 30px;
	
}


/* Horizontal Navigation Styles */

nav.header li {
	display: block;
	float: left;
	margin: 0;
	
}

nav.header a {
	display: block;
	text-align: center;
		
}

nav.header a {
   background-color: rgb(250, 193, 14);
   font-family: Champagne, cursive;
   font-size: 1.4em;
   line-height: 1.8em;
 
   
}  

nav.header a:link, 
nav.headern a:visited {
   color: black;
}

nav.header a:hover, 
nav.header a:active {
   background-color: red;
}   
